<html>
    <head>
        <title>It's Puspita</title>
  <   </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Hej! It's Puspita. I am attending Django Girls in Umeå</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>We just had a Fika</p>
        </div>
    </body>
</html>